@media(max-width:1240px) {
  .five-skill {
    width: 98%;
  }
}
@media(max-width:1225px) {
  .after-support {
    width: 98.4%;
  }
}
@media(max-width:1220px) {
  .flow-explain {
    width: 97.25%;
  }
}
@media(max-width:1199px) {
  .skill-step {
    width: 962px;
    margin: auto;
  }

  .skill-item {
    width: 310px;

    h {
      width: 80%;
    }
  }

  .different-items {
    width: 90%;
  }

  .different-text {
    h {
      text-align: center;
    }
  }

  .item-different {
    width: 293px;

    br {
      display: none;
    }
  }

  .different-image {
    width: 293px;
  }

  .zero-campaign {
    width: 82.06%;
  }

  .zero-items {
    justify-content: center;
  }

  .zero-list {
    margin: 0 25px;
  }
}
@media(max-width:1190px) {
  .header-container {
    width: 100%;
  }

  .header-right {
    width: 265px;
    margin-right: 10px;
  }

  .main-top {
    p1 {
      font-size: 24px;
    }

    p2 {
      font-size: 16px;
    }
  }

  .text {
    font-size: 16px;
  }

  .text-c {
    font-size: 14px;
    width: 437px;
  }

  .acces-btn {
    width: 86.61%;
    height: 80px;

    p {
      font-size: 18px;
      line-height: 80px;
    }
  }

  .middle-news p {
    font-size: 18px;
  }

  .real-free {
    p1,
    p2,
    p3 {
      font-size: 16px;
    }
  }

  .real-free-head {
    font-size: 24px;
  }

  .about-circle {
    margin: 110px auto 0;
  }

  .nomado-head {
    font-size: 24px;
  }

  .sp-nomado {
    display: block;
  }

  .five-skill {
    height: 255px;
  }

  .ganar-focus {
    font-size: 16px;
  }

  .different-text {
    text-align: center;

    h {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }

  .basic-skill {
    height: 805px;

    p1 {
      padding: 20px 0 15px;
      font-size: 16px;
    }

    p2 {
      padding-bottom: 15px;
      font-size: 16px;
    }
  }

  .basic-skill-head {
    font-size: 24px;
  }

  .skill-step {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .skill-item {
    margin-top: 20px;
    width: 41.89%;
    height: 170px;

    h {
      margin: 30px auto 25px;
    }
  }

  .freelance-difficult {
    h {
      font-size: 16px;
    }
  }

  .isra-study {
    h {
      font-size: 24px;
    }

    p1 {
      font-size: 16px;
    }

    p2 {
      font-size: 14px;
    }
  }

  .three-merit {
    font-size: 16px;

    span {
      font-size: 24px;
    }
  }

  .after-support {
    width: 90.2%;
    height: 243px;
  }

  .no-support {
    font-size: 12px;
  }

  .free-ganar {
    font-size: 18px;
  }

  .come-true {
    font-size: 24px;
  }

  .other {
    font-size: 14px;
  }

  .company-message {
    font-size: 12px;
  }

  .corporate {
    height: 91vw;
  }

  .corporate-top {
    margin: 0;
    width: 65.1%;
  }

  .top-face {
    height: 21.4vw;
  }

  .top-item {
    height: auto;
    margin-bottom: 40px;
  }

  .top-text {
    letter-spacing: 0.9px;
    margin-left: 25px;

    br {
      display: none;
    }
  }

  .study-content {
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .content-items {
    justify-content: center;
  }

  .study-content-item {
    margin: 0 15px;
  }

  .item-l {
    width: 270px;
  }

  .item-r {
    width: 265px;
    height: 340px;
  }

  .study-content-text {
    font-size: 14px;
    line-height: 45px;
    height: 45px;
  }

  .study-content-text-zero {
    line-height: normal;
    height: 75px;
  }

  .tab {
    display: block;
  }

  .zero-tab {
    display: block;
  }

  .keep-support {
    font-size: 16px;
  }

  .flow-head-text {
    font-size: 24px;
  }

  .flow-item {
    height: auto;
    width: 92%;
    margin: auto;
  }

  .flow-icon {
    width: 150px;
    margin-left: 6%;
    margin-right: 30px;
  }

  .left-items {
    margin-left: 0;
    width: 100%;
  }

  .flow-context {
    letter-spacing: normal;

    p {
      font-size: 12px;
      font-weight: 300;
    }

    h {
      font-size: 14px;
      width: 96%;
      display: block;
    }

    br {
      display: none;
    }

    .free-price {
      width: 96%;
    }
  }

  .zig-zag {
    width: 79%;
    margin: auto;
    height: auto;

    img {
      width: 100%;
    }
  }

  .free-price {
    br {
      display: none;
    }
  }

  .bangkok-text {
    margin-left: 30px;
  }

  .cost {
    font-size: 14px;
  }

  .zero-campaign {
    width: 93%;
  }

  .student-add {
    font-size: 24px;
  }

  .zero-head {
    font-size: 24px;
    top: 28px;
    width: 359px;
  }

  .sogyosya {
    font-size: 24px;
  }

  .nomado-life {
    font-size: 16px;
    font-weight: 700;
  }

  .ceo-introduce {
    width: 1005px;
    justify-content: flex-start;
  }

  .ceo-face {
    width: 225px;
    background-size: 225px 170px;
    margin-right: 40px;
  }

  .ceo-text {
    width: 72%;
    letter-spacing: 1px;
  }

  .ceo-br {
    display: none;
  }

  form {
    h {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .name,
  .question-form,
  .submit {
    width: 70%;
  }

  .anytime-head {
    font-size: 24px;
  }
}
@media(max-width:1090px) {
  .flow-image {
    width: 91.74%;
  }
}
@media(max-width:1080px) {
  .ceo-introduce {
    width: 94.36%;
  }

  .ceo-face {
    width: 23.36%;
    background-size: 100% 42%;
  }
}
@media(max-width:1025px) {
  .different-head {
    width: 87%;
  }
}
@media(max-width:999px) {
  .volunteer {
    h {
      font-size: 24px;
    }
  }

  .month-10 {
    width: 90.34%;
  }
}
@media(max-width:991px) {
  .different {
    height: auto;
  }

  .different-items {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .item-different {
    width: 91.5%;
  }

  .different-image {
    margin: auto;
  }

  .different-text {
    h {
      text-align: center;
    }
  }

  .start-member {
    height: auto;
    padding-bottom: 50px;
  }

  .teachers {
    margin: auto;
    height: auto;
  }

  .teachers-item {
    display: block;
    height: auto;
  }

  .freelance-teacher {
    width: 100%;
    height: auto;
    margin-top: 200px;
  }

  .introduce {
    font-size: 14px;
    letter-spacing: normal;
    position: static;
    text-align: center;
    padding-bottom: 55px;
    width: 87%;
    margin: 0 auto;

    br {
      display: none;
    }
  }

  .tab {
    display: block !important;
  }

  .possible {
    height: auto;
  }

  .corporate {
    height: auto;
  }

  .corporate-top {
    width: 95%;
    margin: auto;
    height: auto;
  }

  .top-item {
    height: 29.8vw;
  }

  .top-item-yokota {
    margin-bottom: 95px;
  }

  .top-face {
    height: auto;
    width: 34%;
  }

  .top-text {
    width: 70%;
  }

  .study-content {
    height: auto;
  }

  .content-items {
    flex-direction: column;
  }

  .study-content-item {
    width: 74.9%;
    margin: 7.5px auto;
  }

  .item-r {
    margin-bottom: 70px;
  }

  .study-content-text-zero {
    height: 52px;
  }

  .zero-tab {
    display: none;
  }

  .isra-campaign {
    height: auto;
    padding-bottom: 40px;
  }

  .zero-campaign {
    height: auto;
  }

  .zero-border {
    height: auto;
    padding-bottom: 20px;
  }

  .zero-items {
    height: auto;
    flex-direction: column;
  }

  .zero-list {
    margin: 0 auto 25px;
  }

  .ceo-introduce {
    flex-direction: column;
    height: auto;
  }

  .ceo-face {
    height: 540px;
    background-size: cover;
    width: 100%;
  }

  .ceo-text {
    margin-top: 43px;
    width: 95%;
  }

  .ceo-br {
    display: none;
  }

  .anytime {
    width: 89.5%;
  }
}
@media(max-width:915px) {
  .possible-head {
    width: 95.8%;
  }
}
@media(max-width:910px) {
  .real-free-head {
    width: 98.5%;
  }

  .nomado-head {
    width: 98.5%;
    height: 140px;
    padding: 0;
  }

  .isra-study-items {
    width: 100%;
  }

  .item-skill {
    img {
      width: 90.5%;
    }
  }
}
@media(max-width:890px) {
  .teachers {
    width: 94.5%;
  }

  .teachers-item {
    width: 98%;
    margin: auto;
  }
}
@media(max-width:851px) {
  .after-support {
    height: 263px;
  }
}
@media(max-width:830px) {
  .five-skill {
    height: 372px;
  }

  .five-skill-items {
    flex-wrap: wrap;
    margin: -15px auto 0;
    width: 83%;
    justify-content: center;
  }

  .five-item {
    margin: 15px 7px;
  }

  .after-support {
    height: 288px;
  }
}
@media(max-width:774px) {
  .after-support {
    height: 310px;
  }
}
@media(max-width:768px) {
  header {
    height: auto;
    padding: 0;
  }

  .header-left {
    margin-left: 8px;
    display: flex;
    flex-direction: column-reverse;

    h1 {
      font-size: 10px;
    }

    img {
      width: 85px;
    }
  }

  .header-right {
    width: 77px;
    height: 62px;
    border-radius: 0;
    margin-right: 0;

    h2 {
      font-size: 0;

      &:before {
        content: '資料請求';
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .main-top {
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/mainsp.jpg");
  }

  .fa-file-text-o {
    display: block;
    color: white;
    margin-top: 5px;
    margin-bottom: -3px;
  }

  .text-c {
    width: 412px;
    letter-spacing: normal;
  }

  .acces-btn {
    width: 79.09%;
    height: 106px;

    p {
      line-height: normal;
      padding-top: 30px;
    }
  }

  .pagetop-btn {
    width: 40px;
    height: 50px;
    top: 88vh;
    bottom: 10px;
    right: 10px;

    a {
      height: 50px;
    }
  }

  .fa-sort-asc {
    font-size: 50px;
    height: 50px;
  }

  .sp {
    display: block;
  }

  .real-free-head {
    font-size: 18px;
    line-height: normal;

    &:after,
    &:before {
      width: 30px;
      height: 30px;
    }

    h {
      margin-top: 30px;
    }
  }

  .real-free {
    height: 658px;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;

    p1,
    p2,
    p3 {
      font-size: 15px;
    }
  }

  .about-circle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 50px auto 0;
  }

  .nomado-head {
    font-size: 18px;
    line-height: 35px;
    height: 130px;
  }

  .ganar-focus {
    font-size: 15px;
  }

  .five-item p {
    font-size: 10px;
  }

  .five-skill {
    height: 172px;
    padding-top: 10px;
  }

  .five-basic {
    width: 115px;
    height: 70px;
  }

  .sales-skill {
    width: 92px;
    height: 70px;
  }

  .knowledge {
    width: 90px;
    height: 70px;
  }

  .margin-value {
    width: 90px;
    height: 70px;
  }

  .freelance {
    width: 103px;
    height: 70px;
  }

  .ganar {
    font-size: 15px;
    margin: 0;
  }

  .five-skill-items {
    width: 100%;
  }

  .five-basic img,
  .sales-skill img {
    width: 35px;
    height: 35px;
  }

  .knowledge img {
    width: 25px;
    height: 30px;
  }

  .margin-value img {
    width: 31px;
    height: 31px;
  }

  .freelance img {
    width: 80px;
    height: 32px;
  }

  .isra-study {
    height: auto;
    padding-bottom: 37px;

    h {
      font-size: 18px;
    }

    p1 {
      font-size: 15px;
    }

    p2 {
      font-size: 12px;
      padding-top: 20px;
    }
  }

  .isra-study-items {
    justify-content: center;
    width: 90%;
    height: auto;
  }

  .item-skill {
    width: auto;
    margin: 0 20px;

    img {
      width: 120px;
    }
  }

  .basic-skill {
    height: auto;
    padding-bottom: 45px;

    p1,
    p2 {
      font-size: 13px;
    }
  }

  .basic-skill-head {
    font-size: 18px;
  }

  .skill-item {
    width: 96%;
    height: 108px;

    h {
      margin: 10px auto;
    }

    p4 {
      padding-top: 5px;
    }
  }

  .freelance-difficult {
    padding: 24px 0;

    h {
      font-size: 12px;
    }
  }

  .different-head {
    height: 125px;
    width: 98.8%;
  }

  .different-items {
    width: 100%;
  }

  .item-different {
    width: 100%;
  }

  .different-image {
    width: 100%;
    height: 120px;
    background-position: center;
  }

  .different-text {
    width: 93%;
    margin: auto;

    p {
      font-size: 12px;
      font-weight: 300;
    }
  }

  .after-support {
    height: auto;
    padding-bottom: 20px;

    h1 {
      font-size: 24px;
      font-weight: 600;
      padding: 10px 0;
    }

    p1 {
      font-size: 16px;
      font-weight: 600;
    }

    p2 {
      font-size: 10px;
      font-weight: 600;
      display: block;
    }
  }

  .no-support {
    font-size: 12px;
    font-weight: 300;
    margin: 15px 0 40px;
  }

  .pc {
    display: none;
  }

  .teachers {
    width: 100%;
    height: auto;
  }

  .teachers-item {
    width: 100%;
  }

  .freelance-teacher {
    height: auto;

    img {
      width: 120px;
      height: 120px;
      top: -90px;
    }
  }

  .introduce,
  .role,
  .teachers-name {
    font-size: 12px;
  }

  .introduce {
    margin: auto;
    width: 97%;
    letter-spacing: 2px;
    text-align: left;
    padding-bottom: 20px;
  }

  .tab {
    display: none !important;
  }

  .role {
    margin-top: -80px;
    margin-bottom: 12px;
  }

  .free-ganar {
    font-size: 14px;
  }

  .come-true {
    font-size: 18px;
  }

  .other {
    font-size: 12px;
  }

  .study-content {
    h1 {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }
  }

  .flow-head-text {
    font-size: 18px;
  }

  .possible-qa {
    height: auto;
    padding-bottom: 20px;
  }

  .qa {
    width: 62px;
    height: 62px;
    line-height: 62px;
    margin: 20px auto 0;
  }

  .traiangle {
    border-top: 15px solid #EBB94D;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  .top-text {
    p1 {
      margin-top: 0;
    }
  }

  .content-items {
    width: 100%;
  }

  .study-content-item {
    width: 100%;
  }

  .item-r {
    margin-bottom: 40px;
  }

  .study-content-text-zero {
    line-height: 52px;
  }

  .keep-support {
    padding: 22px 0;
  }

  .flow-image {
    display: none;
  }

  .flow-explain {
    display: none;
  }

  .flow-q-and-a {
    display: block;
    position: relative;

    .fa-chevron-down {
      position: absolute;
      top: 15px;
      right: 10px;
    }

    .fa-chevron-up {
      display: none;
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }

  .why-bangkok {
    height: auto;
    padding-bottom: 35px;
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/bangkokbgsp.jpg");

    h3 {
      display: block;
      text-align: center;
      padding-top: 35px;
      color: white;
    }
  }

  .bangkok-text {
    margin-left: 5px;
    padding-top: 0;

    h1 {
      display: none;
    }

    h2 {
      font-size: 15px;
    }

    p1,
    p2 {
      font-size: 12px;
    }
  }

  .cost {
    font-size: 12px;
  }

  .zero-campaign {
    width: 97%;
  }

  .zero-items {
    display: none;
  }

  .zero-head {
    font-size: 18px;
    width: 230px;
  }

  .rpv-zero-items {
    display: block;
  }

  .volunteer {
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/specialdetailsp.jpg");
    height: auto;
    padding-bottom: 60px;

    h {
      font-size: 18px;
    }

    p {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .no-volunteer-br {
    display: none;
  }

  .sp-teacher {
    display: block !important;
  }

  .sogyosya {
    font-size: 18px;
  }

  .nomado-life {
    font-size: 15px;
  }

  .ceo-text {
    p5 {
      margin: 10px 0 50px;
    }
  }

  form {
    h {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }
  }

  .name,
  .question-form,
  .submit {
    width: 96%;
  }

  .anytime-head {
    font-size: 18px;
  }

  footer {
    height: auto;

    p1 {
      padding-top: 20px;
    }
  }
}
@media(max-width:767px) {
  .acces-btn {
    width: 94.79%;
    height: 95px;

    p {
      line-height: normal;
      padding-top: 18px;
      font-size: 20px;
    }
  }

  .rpv-zero-text {
    width: 55.5%;
  }

  .anytime-q-and-a {
    display: none;
  }

  .maxwidth768 {
    display: block;

    .fa-chevron-down {
      top: 11px;
    }

    .fa-chevron-up {
      top: 11px;
    }
  }

  .anytime {
    width: 95%;
    height: auto;
  }

  .q-text {
    line-height: normal;
    padding: 7px 0;
    font-size: 15px;
  }

  .anytime-a {
    font-size: 12px;
    letter-spacing: 2px;

    p {
      padding: 15px 0 25px;
    }
  }

  .item-skill {
    margin: 0 10px;
  }

  .student-add {
    font-size: 18px;
    margin: 0;
    padding: 30px 0;
  }

  .zero-campaign {
    margin: 20px auto 0;
  }
}
@media(max-width:680px) {
  .item-skill {
    margin: 0 10px;
  }
}
@media(max-width:650px) {
  .five-skill {
    height: 265px;
  }

  .five-skill-items {
    width: 74.96%;
    margin: auto;
  }
}
@media(max-width:645px) {
  .item-skill {
    margin: 0 5px;

    img {
      width: 100%;
    }
  }
}
@media(max-width:598px) {
  .bangkok-text {
    width: auto;

    h2 {
      width: 90%;
    }
  }
}
@media(max-width:550px) {
  .freelance-teacher {}
}
@media(max-width:513px) {
  .five-skill-items {
    width: 90%;
    margin: auto;
  }
}
@media(max-width:414px) {
  .text-c {
    width: 98%;
  }

  .marker {
    letter-spacing: normal;
  }

  .top-text {
    p1 {
      font-size: 12px;
      font-weight: 400;
    }

    p2 {
      font-size: 12px;
      font-weight: 400;
      font-style: italic;
    }
  }

  .after-support {
    h1 {
      font-size: 20px;
    }

    .sp {
      display: none;
    }

    p2 {
      width: 95%;
      margin: auto;
    }
  }

  .top-item-yokota {
    margin-bottom: 40px;
  }

  .skill-need {
    width: 78%;
    display: inline-block;
  }

  .nomado-farm {
    height: auto;
    padding-bottom: 50px;
  }

  .five-skill {
    height: auto;
  }

  .five-skill-items {
    width: 95%;
    height: auto;
  }
}
@media(max-width:360px) {
  .possible {
    padding-bottom: 40px;
  }

  .top-item-yokota {
    margin-bottom: 70px;
  }
}
